@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cascadia Code';
  src: url('/font/CascadiaCode.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('/font/CascadiaCodeItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

body {
  background-color: black;
}


#root {
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

